
{% include 'header.twig' %}



 <div class="wrapper-content">
    <div class="wrapper-content__header">
          </div>
    <div class="wrapper-content__body">
      <!-- Main variables *content* -->
      <div id="block_58">
    <div class="new_order-block">
        <div class="bg"></div>
        <div class="divider-top"></div>
        <div class="divider-bottom"></div>
        <div class="container">
            <div class="row mass-order__alignment">
                <div class="col-lg-12">
                     <div class="component_card">
                        <div class="card">
                            <form method="post" action="/massorder">
                                <div class="component_form_group">
                                    <div class="">
                                          


                         {% if error %}
        <div class="alert alert-dismissible alert-danger {% if site['rtl'] %} rtl-alert {% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ errorText }}
        </div>
      {% elseif success %}
        <div class="alert alert-dismissible alert-success {% if site['rtl'] %} rtl-alert {% endif %}">
          <button type="button" class="close" data-dismiss="alert">×</button>
          {{ successText }}
        </div>
      {% endif %}


                           
                                                            
                               <!-- form-group end -->
                                  <div class="form-group">
                                            <label for="links" class="control-label">One order per line in format</label>
                                   <textarea type="text" class="form-control" id="mass" name="mass" value="{{ data['mass'] }}" placeholder="service_id | link | quantity" rows="15"></textarea>
                               </div>
                               <!-- form-group end -->

                            
                                <button type="submit" class="btn btn-primary">📝 Place Order</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% include 'footer.twig' %}