{% include 'header.twig' %}

{% if contentText %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="g-card my-2">
        <div class="g-card-body text-white">
        {{ contentText }}
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>
{% endif %}

{% include 'footer.twig' %}
