{% include 'header.twig' %}



<div class="paddingbody"></div>
	
	<div class="container-fluid container-fluid-spacious">
		<div class="row">
			<div class="col-md-12">
			
				<h1>Terms and Conditions for &nbsp;{{ site["site_name"] }}</h1>



<p>	{% if contentText %}
{{ contentText }}

{% endif %}</p>
				
			</div>
		</div>
	</div>




{% include 'footer.twig' %}