{% include 'header1.twig' %}



<div class="not-authenticate">
<section class="top-hero signupPage">
<div class="container">
<style type="text/css">
	.top-hero {
		padding-top: 20px;
	}
    </style>
<div class="col-md-8 col-md-offset-2">
<div class="well">
Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum
</div>
</div>
</div>
</section>
<section class="interested">
<div class="container">
<div class="row">
<div class="col-sm-12">
<h2>Ready to Get Started?</h2>
<p>All user information is kept 100% private and will <b>NOT</b> be shared with anyone. Always remember, you are protected with <b>nightsmm.in</b></p><a href="/register" class="btnCustomAlt">Get Started Now</a>
</div>
<div class="col-sm-12">
<img src="https://images.irscdn.icu/smm/images/whWMMEQ.png" alt="" />
</div>
</div>
</div>
</section>


{% include 'footer.twig' %}